<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Chat Meteor</title>
</head>

<body ng-app="chat">

  <ion-pane ng-controller="ChatCtrl">
    <ion-header-bar class="bar-royal">
      <h1 class="title">Chat</h1>
    </ion-header-bar>

    <ion-content>
      <blaze-template name="loginButtons"></blaze-template>

      <div ng-if="$root.currentUser" class="message-list">
        <div class="message" ng-repeat="message in messages" ng-class="{ other: message.userId != $root.currentUser._id }">
          <div class="photo" ng-style="{ backgroundImage: 'url(' + message.photo + ')' }"></div>
          <div class="text">
            <span ng-bind="message.text"></span>
          </div>
        </div>
      </div>
    </ion-content>

    <ion-footer-bar class="bar-royal item-input-inset">
      <label class="item-input-wrapper">
        <input ng-model="data.message" ng-keypress="$event.which == 13 && sendMessage()" type="text" placeholder="Type a message">
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>
  </ion-pane>
</body>
